<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        {{>navbar}}
        <h1>this is the login page</h1>
        <form action="/login" method="POST">
            <input type="text" name="email" placeholder="email"><br>
            <input type="password" name="password" placeholder="password"><br>
            <input type="submit" value="login">  
            <br>
            <label>
                <input type="checkbox" name="" value="remember-me">
                Remember-Me
            </label>
        </form>
    </body>
</html>
